Package: com.yourepo.olix.flatcons
Name: Flatcons
Version: 1.4.1-requests
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A flat theme ported from Android. Ported by @Oliver#5583 and [JPB] @L!T#2823 (Colin). Send icon requests to colixiconsrequests@gmail.com.
Author: Oliver + Colin
Depiction: https://olvrb.github.io/repo/index.html
Section: Themes

